* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --button-bg-color: #58a6ff;
    --button-text-color: #0d1117;
    --highlighted-link-color: #58a6ff;
    --link-visited: #c9d1d9;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--highlighted-link-color) !important;
}

a:visited {
    color: var(--link-visited);
}

body {
    background-color: #151c27;
    color: #c9d1d9;
}

table {
    border-collapse: collapse;
    width: 85%;
    border: 1px solid #30363d;
}

thead {
  background-color: #58a6ff;
    color: #0d1117;
}

th, td {
  border: 1px solid #30363d;
  padding: 8px 10px;
}

#add-member-form {
    border-radius: 10px;
    border: 1px solid #30363d;
    padding: 20px;
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-input {
    width: 90%;
    border-radius: 7px;
    padding: 8px;
    height: 30px;
    border: none;
    font-size: 18px;
    background-color: #b0bdcf;
    color: #0d1117;
}

.input-container {
    width: 100%;
    padding:  20px 0;
    display: flex;
    justify-content: center;
}

.input-inside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-inside-container > div {
    text-align: left;
    width: 90%;
}

#dob-picker {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: var(--button-text-color);
    cursor: pointer;
}

.form-error-container {
    background-color: #6d0101;
}

.form-success-container {
    background-color: #0d6e0d;
}

.notification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66%;
    padding: 20px 0;
    color: #c9d1d9;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;
}

.action-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 0;
}

.action-button-container > div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.action-button-container > div > button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: var(--button-bg-color);
    color: var(--button-text-color);
    cursor: pointer;
    width: 80%;
    font-size: medium
}

.main-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #30363d;
    height: 100vh;
}

.sidebar-item, .sidebar-item-heading {
    padding: 20px 0;
    color: #c9d1d9;
    text-decoration: none;
    border-bottom: 1px solid #30363d;
    width: 100%;
    text-align: center;
}

.main-content-container {
    display: flex;
    flex-direction: row-reverse;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #30363d;
}

.navbar-brand {
    font-weight: 600;
    padding: 0 20px;
}

.navbar-elements {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 20px;
}

.nav-item {
    color: #c9d1d9;
    text-decoration: none;
}

.nav-item:hover {
    cursor: pointer;
    color: #58a6ff;
}

.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 66%;
}

.searchbar-container > form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#searchbar {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #30363d;
    background-color: #161b22;
    color: #c9d1d9;
    width: 60%;
}

#search-button-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #30363d;
    background-color: #161b22;
    color: #c9d1d9;
    margin-left: 5px;
    margin-top: 2px;
    width: 20%;
    background: var(--button-bg-color);
    color: var(--button-text-color);
}

.members-table-container {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}