/* Reset default css for browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: 1px solid red;
}

body {
    background-color: #0d1117;
    color: #c9d1d9;
}

:root {
    --button-bg-color: #58a6ff;
    --button-text-color: #0d1117;
    --highlighted-link-color: #58a6ff;
}

/* Just testing layout DELETE WHEN DONE */
.main-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.sidebar-item, .sidebar-item-heading {
    padding: 20px 0;
    color: #c9d1d9;
    text-decoration: none;
    border-bottom: 1px solid #30363d;
    width: 100%;
    text-align: center;
}

.sidebar-item:hover {
    cursor: pointer;
    color: var(--highlighted-link-color);
}

.main-content-container {
    display: flex;
    flex-direction: row-reverse;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #30363d;
}

.navbar-brand {
    font-weight: 600;
    padding: 0 20px;
}

.navbar-elements {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 20px;
}

.nav-item {
    color: #c9d1d9;
    text-decoration: none;
}

.nav-item:hover {
    cursor: pointer;
    color: #58a6ff;
}

.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 50%;
}

.searchbar-container > form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 10px;
}

#searchbar {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #30363d;
    background-color: #161b22;
    color: #c9d1d9;
    width: 60%;
}

#search-button-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #30363d;
    background-color: #161b22;
    color: #c9d1d9;
    margin-left: 5px;
    margin-top: 2px;
    width: 20%;
    background: var(--button-bg-color);
    color: var(--button-text-color);
}